{% extends "OlitazToolboxBundle::layout.html.twig" %}

{% block title "Accueil - Dev-Toolbox" %}

{% block left_desc %}
    <h2>What's Regex Tester ?</h2>
    <p>Test you're Regex very easily with Regex Tester! :)</p>
{% endblock %}

{% block content %}
    <div class="post">
        <h1 class="title"><a href="#">Regex tester</a></h1>
        <p class="meta"><span class="date">Last update: Jun 28, 2011</span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p>
                <form action="{{ path('regex') }}" method="post" {{ form_enctype(form) }}>
                    <fieldset title="Regex tester">
                        <legend>Regex Tester</legend>
                        {{ form_errors(form) }}
                        <table>
                            <tr>
                                <td>{{ form_label(form.type) }}</td>
                                <td>
                                    {{ form_errors(form.type) }}
                                    {{ form_widget(form.type) }}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.pattern) }}</td>
                                <td>
                                    {{ form_errors(form.pattern) }}
                                    {{ form_widget(form.pattern, { 'attr': {'cols': '65', 'rows' : '2'} }) }}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.replacement) }}</td>
                                <td>
                                    {{ form_errors(form.replacement) }}
                                    {{ form_widget(form.replacement, { 'attr': {'cols': '65', 'rows' : '2'} }) }}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.subject) }}</td>
                                <td>
                                    {{ form_errors(form.subject) }}
                                    {{ form_widget(form.subject, { 'attr': {'cols': '65', 'rows' : '6'} }) }}
                                </td>
                            </tr>
                        </table>

                        {{ form_rest(form) }}

                        <input type="submit" />
                    </fieldset>
                    {% if(result is defined) %}
                        <fieldset title="Result">
                            <legend>Result</legend>
                            <div class="result">
                                {% if(add_pre is defined) %}<pre>{% endif %}{{ result }}{% if(add_pre is defined) %}</pre>{% endif %}
                            </div>
                        </fieldset>
                    {% endif %}
                </form>
            </p>
            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="b0x w">Comments</a></p>
        </div>
    </div>
{% endblock %}
